/**
 * @description 全局主题变量配置
 */
/* stylelint-disable */
@charset "utf-8";
//框架默认主题色
$base-color-default: #1890ff;
$base-color-blue: $base-color-default;
$base-color-green: #13ce66;
$base-color-white: #fff;
$base-color-black: #000;
$base-color-deepblue: #18223d;
$base-color-yellow: #ffba00;
$base-color-orange: #ff6700;
$base-color-red: #ff4d4f;
$base-color-gray: rgba(0, 0, 0, 0.65);
$base-color-logo-bg: #131a2e;
//默认层级
$base-z-index: 999;
//横向布局纵向布局时菜单背景色
$base-menu-background: $base-color-deepblue;
//菜单文字颜色
$base-menu-color: hsla(0, 0%, 100%, 0.95);
//菜单选中文字颜色
$base-menu-color-active: hsla(0, 0%, 100%, 0.95);
//菜单选中背景色
$base-menu-background-active: $base-color-gray;
//标题颜色
$base-title-color: #fff;
//字体大小配置
$base-font-size-small: 12px;
$base-font-size-default: 14px;
$base-font-size-big: 16px;
$base-font-size-bigger: 18px;
$base-font-size-max: 22px;
$base-font-color: #606266;
$base-main-width: 1279px;
$base-border-radius: 2px;
$base-border-color: #dcdfe6;
//输入框高度
$base-input-height: 32px;
//默认paddiing
$base-padding: 20px;
//默认阴影
$base-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
//横向布局时top-bar、logo、一级菜单的高度
$base-top-bar-height: 65px;
//纵向布局时logo的高度
$base-logo-height: 75px;
//顶部nav-bar的高度
$base-nav-bar-height: 60px;
//顶部多标签页tabs-bar的高度
$base-tabs-bar-height: 55px;
//顶部多标签页tabs-bar中每一个item的高度
$base-tag-item-height: 34px;
//菜单li标签的高度
$base-menu-item-height: 50px;
//app-main的高度
$base-app-main-height: calc(
  100vh - #{$base-nav-bar-height} - #{$base-tabs-bar-height} - #{$base-padding} -
    #{$base-padding} - 55px - 30px
);
//纵向布局时左侧导航未折叠时的宽度
$base-left-menu-width: 200px;
//纵向布局时左侧导航未折叠时右侧内容的宽度
$base-right-content-width: calc(100% - #{$base-left-menu-width});
//纵向布局时左侧导航已折叠时的宽度
$base-left-menu-width-min: 65px;
//纵向布局时左侧导航已折叠时右侧内容的宽度
$base-right-content-width-min: calc(100% - #{$base-left-menu-width-min});
//默认动画
$base-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
//默认动画时长
$base-transition-time: 0.3s;

:export {
  //菜单文字颜色变量导出
  menu-color: $base-menu-color;
  //菜单选中文字颜色变量导出
  menu-color-active: $base-menu-color-active;
  //菜单背景色变量导出
  menu-background: $base-menu-background;
}

.index-container{
  margin: 0 !important;
  padding:20px !important;
  background: #fff !important;  
}
.main-container{
  margin: 0 !important;
  padding:0px !important;
  background: #f6f8f9 !important;  
}
.pb80{padding-bottom: 80px !important;}
.hiddenmore {
  display: inline;
  ::v-deep {
    .el-input {
      width: 130px;
    }
  }
}

.filter-tree {
  margin-top: 0px;
}
.treeborder {
  padding: 20px;
  height: 200px;
  margin-top: 20px;
  border: 1px solid #dcdfe6;
  border-radius: 2.5px;
  overflow-y: auto;
}
table,
  td,
  tr {
    border-collapse: collapse;
    border-spacing: 0;
  }
::v-deep{
  .w{width:100%;}
  .font16{font-size:16px;}
  .b{font-weight:bold;}
  .mb0{margin-bottom:0;}
  .el-date-editor.el-input{width:100%!important;}
  .current-row{td.el-table__cell{background-color:#ddeefd!important;.cell{color:#000!important;}}}
  .el-table{th{background:#f2f8fd!important;}}
  .desctable{border-right:1px solid #ebeef5;border-bottom:1px solid #ebeef5;width:100%;
    td{border-left:1px solid #ebeef5;border-top:1px solid #ebeef5;padding:8px 15px;line-height:22px;}
    th{border-left:1px solid #ebeef5;border-top:1px solid #ebeef5;padding:8px 15px;line-height:22px;background:#f2f8fd;font-weight:bold;}
    .tit{background:#ebeef5;font-weight:bold;}
    } 
  .el-upload {
    display: block;
    .el-upload-dragger {
      width: 100% !important;
    }
  }
  .boxtable {
    margin-bottom: 20px;
    border: 1px dashed #dfdfdf;
    border-radius: 5px;
    background: #f8f8f8;
    padding: 10px 20px 20px;
    p {
      font-size: 15px;
      font-weight: bold;
      span {
        font-size: 12px;
        color: #ff0000;
        font-weight: 100;
      }
    }
    .btn-box {
      margin-top: 10px;
    }
  }
  .boxtable:last-child {
    margin-bottom: 0;
  }
  .custemitem{  
  label{line-height:16px;}
  }
  .text-p {
    p {
      margin: 0;
    }
  }
  .tsitem { 
    label {
      width: auto !important;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
  }

  .el-form-item__content{
    min-height: 33px;
    p.ts{margin:0;color:#999;}
  }

  .box_card {
    margin-top: 0px;
    .box_header {
      font-size: 14px;
      font-weight: bold;
      border-left: 4px solid $base-color-default;
      padding-left: 10px;
      color: $base-color-default;
    }
    .el-rate {
      margin-top: 5px;
    }
    .el-alert__content {
      width: 100%;
    }
    .box_content {
      border: 0px solid #dfdfdf;
      border-top: 0;
      padding: 20px 15px;
      .bghui {
        background: #f5f5f5;
        padding: 15px;
        margin-bottom: 4px;
        display: flex;
        flex-direction: row;
        border: 0px solid #ddd;
        width: 300px;
        align-items: center;
        .r {
          display: inline-block;
          margin-left: 10px;
          line-height: 25px;
          p {
            padding: 0;
            margin: 0;
          }
          p.p1 {
            color: #333;
          }
          p.p2 {
            color: #999;
          }
        }
      }
      .item-li {
        line-height: 25px;
        .bghui {
          background: #f5f5f5;
          padding: 15px;
          display: flex;
          flex-direction: row;
          border: 1px solid #ddd;
          .r {
            display: inline-block;
            margin-left: 10px;
            line-height: 25px;
            p {
              padding: 0;
              margin: 0;
            }
            p.p1 {
              color: #333;
            }
            p.p2 {
              color: #999;
            }
          }
        }
      }
      .tit {
        color: #666;
      }
    }
  }

}


.bottom {
  padding: 25px 0;
  color: #595959;
  text-align: left;
  border-top: 1px solid $base-border-color;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index:10;
}

